@tailwind base;
@tailwind components;
@tailwind utilities;


.box{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 5px;
    color: #000;
}
.box2{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 5px;
    background-color: blue;
    color: #fff;
}